<div class="ui-fluid">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="card no-margin">
        <h1>Professores</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
              <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="filtro.nome" name="nome">
                <label>Pesquisar Professor Por Nome</label>
              </span>
              <button pButton type="submit" icon="ui-icon-search"></button>
            </div>
          </div>

          <div class="ui-g-12">

            <p-table [value]="professores" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
              [paginator]="true" [rows]="filtro.itensPorPagina">


              <ng-template pTemplate="header">
                <tr>
                  <th style="width:9em; text-align: center">Foto</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Celular</th>
                  <th>Email</th>
                  <th style="width:5em; text-align: center">Editar</th>
                  <th style="width:5em; text-align: center">Excluir</th>
                </tr>
              </ng-template>


              <ng-template pTemplate="body" let-prof>
                <tr>
                  <td style="width:9em; text-align: center">
                    <img src="{{prof.urlFoto}}" style="border-radius: 50%" class="circular-image"   height="42" width="42"/>
                  </td>
                  <td>{{prof.nome}}</td>
                  <td>{{prof.cpf}}</td>
                  <td>{{prof.celular}}</td>
                  <td>{{prof.email}}</td>
                  <td style="width:5em; text-align: center">
                    <a pButton icon="ui-icon-edit" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/professores', prof.codigo]"></a>
                  </td>
                  <td style="width:5em; text-align: center">
                    <button pButton icon="ui-icon-delete" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(prof)"></button>
                  </td>

                </tr>
              </ng-template>




            </p-table>
          </div>






          <div class="ui-g-12 ui-md-2">
            <div class="shadow-box ui-shadow-3">
              <button type="button" label="Adicionar" pButton icon="ui-icon-add" routerLink="/professores/nova"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
